@import "tailwindcss";

@font-face {
  font-family: 'MontserratAlternates';
  src: url(./assets/fonts/MontserratAlternates.woff2) format(woff2);
  font-style: normal;
}

@theme {
  --color-wrapper: #6B6B6B;
  --color-primary: #E4EED0;
  --color-secondary: #FF5656;
  --color-third: #B4FF99;
  --color-fourth: #E4EED0;

  --font-MontserratAlternates: 'MontserratAlternates',

  --text-42: 3.425rem;
  --text-36: 2.2025rem;
  --text-33: 2.0625rem;
  --text-28: 1.75rem;
  --text-25: 1.5625rem;
  --text-24: 1.2625rem;
  --text-22: 1.375rem;
  --text-20: 1.25rem;
  --text-18: 1.125rem;
  --text-16: 1rem;
  --text-14: 0.875rem;
  --text-12: 0.75rem;
  --text-11: 0.688rem;
  --text-10: 0.625rem;
  --text-9: 0.563rem;
  --text-8: 0.5rem;
  --text-7: 0.438rem;

  --spacing-1/22: 22%;

  --breakpoint-xs: 320px;
  --breakpoint-sm: 425px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1440px;
  --breakpoint-2k: 1920px;
  --breakpoint-4k: 2560px;

  --radius-xl: 4px;
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 14px;
}

body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  font-family: 'MontserratAlternates';
}